body {
    image-rendering: crisp-edges;
    background: #3f3f3f;
}


tile {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 64px;
    height: 64px;
    position: absolute;
}

tile.dirt {
    background-image: url("gfx/dirt.png");
}

tile.space {
    background-image: url("gfx/space.png");
}

tile.steel {
    background-image: url("gfx/steel.png");
}

tile.wall {
    background-image: url("gfx/wall.png");
}

tile.boulder {
    background-image: url("gfx/boulder.png");
}

tile.diamond {
    background-image: url("gfx/diamond1.png");
}

tile.player {
    background-image: url("gfx/player.png");
}

tile.exit {
    background-image: url("gfx/exit.png");
}

tile.firefly {
    background-image: url("gfx/firefly1.png");
}

tile.butterfly {
    background-image: url("gfx/butterfly1.png");
}
