body {
    image-rendering: crisp-edges;
    background: #3f3f3f;
}

tile {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    position: absolute;
}

tile.dirt {
    background-image: url("gfx/dirt.png");
}

tile.space {
    background-image: url("gfx/space.png");
}

tile.steel {
    background-image: url("gfx/steel.png");
}

tile.wall {
    background-image: url("gfx/wall.png");
}

tile.boulder {
    background-image: url("gfx/boulder.png");
}

tile.diamond.frame-0 {
    background-image: url("gfx/diamond1.png");
}

tile.diamond.frame-1 {
    background-image: url("gfx/diamond2.png");
}

tile.player {
    background-image: url("gfx/player.png");
}

.exit-closed tile.exit {
    background-image: url("gfx/exitclosed.png");
}

.exit-open tile.exit.frame-0 {
    background-image: url("gfx/exitopen1.png");
}

.exit-open tile.exit.frame-1 {
    background-image: url("gfx/exitopen2.png");
}

tile.firefly.frame-0 {
    background-image: url("gfx/firefly1.png");
}

tile.firefly.frame-1 {
    background-image: url("gfx/firefly2.png");
}

tile.butterfly.frame-0 {
    background-image: url("gfx/butterfly1.png");
}

tile.butterfly.frame-1 {
    background-image: url("gfx/butterfly2.png");
}

tile.explosion-space-1 {
    background-image: url("gfx/explosionspace1.png");
}

tile.explosion-space-2 {
    background-image: url("gfx/explosionspace2.png");
}

tile.explosion-space-3 {
    background-image: url("gfx/explosionspace3.png");
}

tile.explosion-space-4 {
    background-image: url("gfx/explosionspace4.png");
}

tile.explosion-diamond-1 {
    background-image: url("gfx/explosiondiamond1.png");
}

tile.explosion-diamond-2 {
    background-image: url("gfx/explosiondiamond2.png");
}

tile.explosion-diamond-3 {
    background-image: url("gfx/explosiondiamond3.png");
}

tile.explosion-diamond-4 {
    background-image: url("gfx/explosiondiamond4.png");
}
